*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}
body{
   min-height: 100vh;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
    margin: 100px 0;
}
#centered{
    text-align: center;
}
a:hover{
    opacity: 0.7;
}

#form-inscription{
    background: rgb(63, 61, 61);
    color: rgb(240, 236, 236);
    padding: 60px 0;
}
#form-inscription * {
    margin: 5px;
}

nav {
    background: rgb(67, 71, 62);
}

nav ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
    line-height: 3em;
}

#single-card{
    background: rgb(224, 224, 224);
    border-radius: 6px;
    
    margin: 30px auto;
    width: 380px;
    
}
#single-card *{
    margin: 10px;
}
h3{
    text-align: center;
}

form{
    text-align: center;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 6px;
    
}
footer{
    background: rgb(67, 71, 62);
    width: 100vw;

}
#div-footer{
    background: rgb(67, 71, 62);
    line-height: 3em;
    text-align: center;
    width: 100vw;

}

@media (min-width: 768px){
    #all-card, #all-card ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #single-card {
        margin: 40px;
    }
  
}